# While Loop
# repeating a task again and again until certain criteria is sertisfied

In [32]:
# starting an infinite while loop
while True:
    print("hi")
    print("hello")
    break
    print("bye")
print("harjeet")

# printing a value after while loop
print("harjeet")

hi
hello
harjeet
harjeet

In [5]:
i = 1

In [7]:
while True:
    print(i)
    i += 1
    print (i)
    break

1
2

In [8]:
i

2

In [13]:
i = 1
while True:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [19]:
i = 0
n = 3
while i < n:
    print(i)
    i += 1

0
1
2

In [24]:
i = 0
n = 10
while i < n:
    print(i)
    i += 2

0
2
4
6
8

In [7]:
i = 0
n = 7
while i <n:
    print(i)
    i +=1

0
1
2
3
4
5
6

In [8]:
i = 0
n = 7
while i <= n:
    print(i)
    i +=1

0
1
2
3
4
5
6
7

In [11]:
i = 1
n = 11
while i < n:
    print(7, "x", i, "=", i*7)
    i += 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [16]:
i = 1
n = 11
while i < n:
    print(12, "x", i, "=", i*12)
    i += 1

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [20]:
i = 0
n = 7
a = 0
while i <n:
    a += i
    print(i, a)
    i +=1
print(a)

0 0
1 1
2 3
3 6
4 10
5 15
6 21
21

In [23]:
a = 1
i = 1
n = 3
while i < n:
    a += i
    print(i, a)
    i += 1

1 2
2 4

In [24]:
# sum of numbers in a range
i = 50
n = 101
a = 0
while i < n:
    a += i
    i += 1
print(a)

3825

In [25]:
name = "harjeet"

In [26]:
name

'harjeet'

In [27]:
len(name)

7

In [30]:
name = "harjeet"
i = 0
n = len(name)
while i < n:
    print(n, name[i])
    i += 1

7 h
7 a
7 r
7 j
7 e
7 e
7 t

In [38]:
li = [8,4,6,1,2,3,5,7,9,5]
i = 0
n = len(li)
total = 0
while i < n:
    total += li[i]
    i += 1
print(total)

50