# FOR LOOP

In [1]:
i = 5
n = 0
while i > n:
    print(i)
    i -= 1

5
4
3
2
1

In [4]:
i = 5
while i:
    print(i)
    i -= 1

5
4
3
2
1

In [5]:
name = "harjeet"

In [8]:
for alphabet in name:
    print("hy")

hy
hy
hy
hy
hy
hy
hy

In [12]:
for alphabet in name:
    print(alphabet)

h
a
r
j
e
e
t

In [14]:
items = "tomato", "onion", "potato", "ladyfinger"

for vegetables in items:
    print(vegetables)

tomato
onion
potato
ladyfinger

In [15]:
course = ['franklin', 'lester', 'michael', 'trever']
for person in course:
    print('hello', person)

hello franklin
hello lester
hello michael
hello trever

In [18]:
s = [8, 7, 3, 35, 67, 75]
for i in s:
    print(i)

8
7
3
35
67
75

In [20]:
i = 0
n = 5
while i < n:
    print(i)
    i += 1

0
1
2
3
4

In [21]:
for i in range(3, 10, 2):
    print(i)

3
5
7
9

In [24]:
name = "harjeet"
i = 0
n = len(name)
while i < n:
    print(name[i])
    i += 1

h
a
r
j
e
e
t

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
name = "harjeet"
for i in range (len(name)):
    #print(i)
    print(name[i])

h
a
r
j
e
e
t