# FOR LOOP

In [1]:
i = 5
n = 0
while i > n:
    print(i)
    i -= 1

5
4
3
2
1

In [1]:
i = 5
while i:
    print(i)
    i -= 1

5
4
3
2
1

In [5]:
name = "harjeet"

In [8]:
for alphabet in name:
    print("hy")

hy
hy
hy
hy
hy
hy
hy

In [12]:
for alphabet in name:
    print(alphabet)

h
a
r
j
e
e
t

In [14]:
items = "tomato", "onion", "potato", "ladyfinger"

for vegetables in items:
    print(vegetables)

tomato
onion
potato
ladyfinger

In [5]:
course = ['franklin', 'lester', 'michael', 'trever']
for people in course:
    print('hello', people)

hello franklin
hello lester
hello michael
hello trever

In [18]:
s = [8, 7, 3, 35, 67, 75]
for i in s:
    print(i)

8
7
3
35
67
75

In [20]:
i = 0
n = 5
while i < n:
    print(i)
    i += 1

0
1
2
3
4

In [7]:
for i in range(3, 10, 2):
    print(i)

3
5
7
9

In [12]:
name = "harjeet"
i = 0
n = len(name)
while i < n:
    print(name[i])
    
    i += 1

h
a
r
j
e
e
t

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [59]:
name = "harjeet"
for i in range(len(name)):
    #print(i)
    print(name[i])

h
a
r
j
e
e
t

In [6]:
name = input("enter your name")
for i in range(len(name)):
    print(name[0:6][::-1])

enter your name karanaujla

anarak
anarak
anarak
anarak
anarak
anarak
anarak
anarak
anarak
anarak

In [7]:
name = input("enter your name")
for i in range(len(name)):
    print(name[::-1])

enter your name karanaujla

aljuanarak
aljuanarak
aljuanarak
aljuanarak
aljuanarak
aljuanarak
aljuanarak
aljuanarak
aljuanarak
aljuanarak

In [13]:
name = input("enter your name")
for i in range(len(name)):
    print(name[0:5])

enter your name sidhumoosewala

sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu
sidhu

In [44]:
name = input("enter your name")
for i in range(len(name)):
    print(name[i], i)

enter your name mohit

m 0
o 1
h 2
i 3
t 4

In [2]:
name = input("enter your name here")
for i in range(1, 11):
    print(name[0:6][::-1])

enter your name here Sidhumoosewala

muhdiS
muhdiS
muhdiS
muhdiS
muhdiS
muhdiS
muhdiS
muhdiS
muhdiS
muhdiS

In [69]:
row= int(input("enter your value"))
for i in range(1, 11):
    print(row, "x", i, "=", row*i)

enter your value 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [14]:
li= int(input("enter your number"))
for i in range(1, 11):
    print(li, "x", i, "=", li*i)

enter your number 87

87 x 1 = 87
87 x 2 = 174
87 x 3 = 261
87 x 4 = 348
87 x 5 = 435
87 x 6 = 522
87 x 7 = 609
87 x 8 = 696
87 x 9 = 783
87 x 10 = 870

In [73]:
digits= int(input("enter your num here"))
for i in range(1,21,2):
    print(digits, "x", i, "=", i*digits)

enter your num here 8

8 x 1 = 8
8 x 3 = 24
8 x 5 = 40
8 x 7 = 56
8 x 9 = 72
8 x 11 = 88
8 x 13 = 104
8 x 15 = 120
8 x 17 = 136
8 x 19 = 152

In [77]:
num = int(input("enter your number please"))
for i in range(1,11):
    print(num, "/", i, "=", num/i)

enter your number please 17

17 / 1 = 17.0
17 / 2 = 8.5
17 / 3 = 5.666666666666667
17 / 4 = 4.25
17 / 5 = 3.4
17 / 6 = 2.8333333333333335
17 / 7 = 2.4285714285714284
17 / 8 = 2.125
17 / 9 = 1.8888888888888888
17 / 10 = 1.7

In [78]:
num = int(input("enter your number please"))
for i in range(1,11):
    print(num, "/", i, "=", num//i)

enter your number please 17

17 / 1 = 17
17 / 2 = 8
17 / 3 = 5
17 / 4 = 4
17 / 5 = 3
17 / 6 = 2
17 / 7 = 2
17 / 8 = 2
17 / 9 = 1
17 / 10 = 1

In [79]:
n = 15
for i in range(1, 11):
    print(n, "x", i, "=", i*n)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [81]:
n = 13
for i in range(1, 10):
    print(n, "/", i, "=", i*n)

13 / 1 = 13
13 / 2 = 26
13 / 3 = 39
13 / 4 = 52
13 / 5 = 65
13 / 6 = 78
13 / 7 = 91
13 / 8 = 104
13 / 9 = 117

In [18]:
name = ['harjeet', 'sahil', 'ujjwal']

In [21]:
for name in name:
    print(name)

harjeet
sahil
ujjwal

In [25]:
li = ['sahil', 'akarsh', 'ujjwal']

In [26]:
for i in li:
    print(i)

sahil
akarsh
ujjwal

In [32]:
##using file random

In [27]:
import random

In [28]:
"random.py"

'random.py'

In [30]:
random.randint(1,10)

5

In [47]:
li = []

for i in range(15):
    num = random.randint(1, 10)
    print(num, end= " ")
    li.append(num)
      
li

2 9 10 9 4 10 3 8 3 2 6 1 1 4 4

[2, 9, 10, 9, 4, 10, 3, 8, 3, 2, 6, 1, 1, 4, 4]

In [48]:
li

[2, 9, 10, 9, 4, 10, 3, 8, 3, 2, 6, 1, 1, 4, 4]

In [55]:
li = [2,3,4,5]
a= []
for i in li:
    s = i**2
    a.append(s)

print(li)
print(a)

[2, 3, 4, 5]
[4, 9, 16, 25]

# list comprehension

In [57]:
a = []
for i in range(5):
    a.append(random.randint(1,10))

a

[10, 1, 10, 1, 8]

In [58]:
a

[10, 1, 10, 1, 8]

In [59]:
a = [random.randint(1, 10) for i in range(5)]
a

[4, 3, 6, 8, 3]

In [60]:
a

[4, 3, 6, 8, 3]

In [62]:
l = [i**2 for i in a]
print(l)

[16, 9, 36, 64, 9]

In [63]:
l = [i**2 for i in a]
print(a)
print(l)

[4, 3, 6, 8, 3]
[16, 9, 36, 64, 9]

In [64]:
l = [a[i]**2 for i in range(len(a))]
print(a)
print(l)

[4, 3, 6, 8, 3]
[16, 9, 36, 64, 9]

In [65]:
name = ['shubham', 'akash', 'abhi']
age = [20,30,35]

In [113]:
li = []
for i, j in zip(name, age):
    print(i, j)

shubham 20
akash 30
abhi 35

In [135]:
course = ["maths", "english", "science"]
stu = ["rohan", "ashu", "abdul"]

we =[]
for i, h in zip(stu, course):
    print(i, h)

rohan maths
ashu english
abdul science

In [139]:
f = {}
for i, h in zip(stu, course):
    f[i]= h

In [140]:
f

{'rohan': 'maths', 'ashu': 'english', 'abdul': 'science'}

In [137]:
d= {}
for i, j in zip(name, age):
    d[i]= j

In [138]:
d

{'shubham': 20, 'akash': 30, 'abhi': 35}

In [141]:
{i: j for i, j in zip(name, age)}

{'shubham': 20, 'akash': 30, 'abhi': 35}

In [ ]:
typ