# class --> defining and binding variables and functions

### variable also known as attributes
### functions also known as methods

In [1]:
class Car():
    tyre = 4

    def move():
        print("moving forward")

In [2]:
Car.tyre

4

In [3]:
Car.move()

moving forward

In [4]:
class human():
    Legs = 2

    def eatUP():
        print("eating")
        print("i am full")
        print("thankyou")

In [5]:
human.Legs

2

In [6]:
human.eatUP()

eating
i am full
thankyou

In [7]:
gadi = Car()

In [8]:
gadi2= Car()

In [9]:
gadi.tyre

4

In [10]:
gadi2.tyre

4

In [11]:
gadi.tyre= 3

In [12]:
gadi.tyre

3

In [13]:
gadi2.tyre

4

In [22]:
class Car():
    tyre = 4

    def move(gadi2):
        print("moving forward")

In [23]:
gadi2.move()

moving forward

In [14]:
class Car():
    tyre = 4

    def move(self):
        print("moving forward")

In [17]:
gadi2 = Car()

In [19]:
gadi2.move()

moving forward

In [24]:
gadi = Car()

In [25]:
gadi.move()

moving forward

In [26]:
gadi.tyre

4

In [1]:
class Car():
    tyre = 4

    def __init__(self):
        self.name = "nano"

    def move():
            print("moving forward")

In [2]:
gadi = Car()

In [3]:
gadi.name

'nano'

In [86]:
class Car():
    # variable belonging to whole class
    tyre = 4

    def __init__(self, modelName): # init automatically runs when object is created
        self.name = modelName

    def move(self):
        print("moving forward")

In [78]:
gadi = Car("nano")

In [79]:
gadi.name

'nano'

In [80]:
gadi2 = Car("alto")

In [83]:
gadi2.name

'alto'

In [84]:
gadi2.move()

moving forward

In [4]:
class Car():
    # variable belonging to whole class
    tyre = 4

    def __init__(self, model, year= None): # init automatically runs when object is created
        self.model = model
        self.year  = year

    def introduction(self):
        print(f"hi i am {self.model} and i was made in {self.year}")

    def move(self):
        print("moving forward")

In [5]:
gadi = Car("nano", 2005)

In [11]:
gadi.introduction()

hi i am nano and i was made in 2005

In [7]:
gadi2 = Car('alto', 2006)

In [9]:
gadi2.introduction()

hi i am alto and i was made in 2006

In [16]:
class Human():
    Eyes = 2

    def __init__(self, name, age, qualification= None):
        self.name= name
        self.age = age
        self.qualification = qualification

    def introduction(self):
        print(f'hi my name is {self.name} and age is {self.age} and qualification is {self.qualification}')

    def eatUP(self):
        print('eating')
        print('full')

In [23]:
firstPerson = Human('sidhu', 28, 'B.Tech')

In [24]:
firstPerson.introduction()

hi my name is sidhu and age is 28 and qualification is B.Tech

In [25]:
firstPerson.eatUP()

eating
full

In [26]:
firstPerson.Eyes

2

In [27]:
secondPerson = Human('karan', 18, 'BCA')

In [29]:
secondPerson.introduction()

hi my name is karan and age is 18 and qualification is BCA

In [31]:
secondPerson.eatUP()

eating
full

In [32]:
secondPerson.Eyes

2

In [51]:
class Human():
    Eyes = 2

    def __init__(self, name, age, qualification):
        self.name= name
        self.age = age
        self.qualification = qualification

    def introduction(self):
        print(f'hi my name is {self.name} and age is {self.age} and qualification is {self.qualification}')

In [53]:
thirdPerson = Human("ravi", 15, "bba")

In [55]:
thirdPerson.introduction()

hi my name is ravi and age is 15 and qualification is bba

# magic functions
## special functions of class
### init
### str
### del

In [19]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self, name, initialDeposit= 0):
        # runs when object is created
        self.name= name
        self.balance = initialDeposit
        print(f'{self.name} welcome to {self.BANK_NAME}')

In [20]:
pehlaAccount = Account('tanuj', 50000)

tanuj welcome to SBI

In [21]:
pehlaAccount.name

'tanuj'

In [22]:
pehlaAccount.balance

50000

In [23]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self, name, initialDeposit= 0):
        self.name= name
        self.balance = initialDeposit
        print(f"""{name} welcome to {self.BANK_NAME}""")

In [30]:
pehlaAccount= Account("shubham", 50000)

shubham welcome to SBI

           ========= SBI =========
           Account Holder : shubham
           Account Balance: 50000

In [31]:
pehlaAccount.balance

50000

In [32]:
print(pehlaAccount)

           ========= SBI =========
           Account Holder : shubham
           Account Balance: 50000

In [25]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self, name, initialDeposit= 0):
        # runs when object is created
        self.name= name
        self.balance = initialDeposit
        print(f"""{name} welcome to {self.BANK_NAME}""")
        print(self)
    def __str__(self):
        # runs before object is printed
        # mendatory to return a str
        a= f"""
           ========= {self.BANK_NAME} =========
           Account Holder : {self.name}
           Account Balance: {self.balance}
           """
        return a

In [28]:
pehlaAccount = Account("harjeet", 50000)

harjeet welcome to SBI

           ========= SBI =========
           Account Holder : harjeet
           Account Balance: 50000

In [29]:
print(pehlaAccount)

           ========= SBI =========
           Account Holder : harjeet
           Account Balance: 50000

In [37]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self, name, initialDeposit= 0):
        self.name= name
        self.balance = initialDeposit
        print(f"""{name} welcome to {self.BANK_NAME}""")
        print(self)
    def __str__(self):
        #mendatory to return a str
        a= f"""
           ========= {self.BANK_NAME} =========
           Account Holder : {self.name}
           Account Balance: {self.balance}
           """
        return a

    def __del__(self):
        # when memory location is cleared
        # runs before object is deleted
        print("item was deleted")

In [40]:
pehlaAccount = Account('happy', 50000)

happy welcome to SBI

           ========= SBI =========
           Account Holder : happy
           Account Balance: 50000

item was deleted

In [41]:
del pehlaAccount

item was deleted

In [56]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self, name, initialDeposit= 0):
        #runs when object is created
        self.name= name
        self.balance = initialDeposit
        print(f"""{name} welcome to {self.BANK_NAME}""")
        print(self)
    def __str__(self):
        #mendatory to return a str
        a= f"""
           ========= {self.BANK_NAME} =========
           Account Holder : {self.name}
           Account Balance: {self.balance}
           """
        return a

    def __del__(self):
        #when memory location is cleared
        # runs before object is created
        a = f""" ========={self.BANK_NAME}========
         we are sorry to see you go
                     """
        print(a)

In [57]:
pehlaAccount = Account('harry', 50000)

harry welcome to SBI

           ========= SBI =========
           Account Holder : harry
           Account Balance: 50000

In [13]:
class Car():
    def __init__(self):
        self.name = "Tata"
        print('runs with item is created')

    def __str__(self):
        print("hello")
        return ("runs when memory is cleared")

    def __del__(self):
        print("runs when memory location is cleared")

# Encapsulation
## it put restriction on balance

In [1]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self, name, initialDeposit= 0):
        #runs when object is created
        self.name= name
        self.__balance = initialDeposit
        print(f"""{name} welcome to {self.BANK_NAME}""")
        print(self)
    def __str__(self):
        #mendatory to return a str
        a= f"""
           ========= {self.BANK_NAME} =========
           Account Holder : {self.name}
           Account Balance: {self.__balance}
           """
        return a

    def __del__(self):
        #when memory location is cleared
        # runs before object is created
        a = f""" ========={self.BANK_NAME}========
                we are sorry see you again
                     """
        print(a)

In [2]:
pehlaAccount = Account('ankit', 20000)

ankit welcome to SBI

           ========= SBI =========
           Account Holder : ankit
           Account Balance: 20000

In [3]:
pehlaAccount.__balance

AttributeError: 'Account' object has no attribute '__balance'

In [107]:
print(pehlaAccount)

           ========= SBI =========
           Account Holder : ankit
           Account Balance: 20000

In [108]:
Account.BANK_NAME

'SBI'

In [38]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self, name, initialDeposit= 0):
        #runs when object is created
        self.name= name
        self.__balance = initialDeposit
        print(f"""{name} welcome to {self.BANK_NAME}""")
        print(self)
    def __str__(self):
        #mendatory to return a str
        #runs before object is created
        a= f"""
           ========= {self.BANK_NAME} =========
           Account Holder : {self.name}
           Account Balance: {self.__balance}
           """
        return a

    def __del__(self):
        #when memory location is cleared
        # runs before object is deleted
        a = f""" ========={self.BANK_NAME}========
                we are sorry to here you go
                     """
        print(a)

    def __transaction(self, amount, T):
        print(f'{amount} was {T}')
        print(f'current balance {self.__balance}')
        if T == 'Credited':
            print(f'initial amount {self.__balance - amount}')
        else:
            print(f'initial amount {self.__balance + amount}')

    def credit(self, amount= 0):
        self.__balance += amount
        self.__transaction(amount, 'credited')

    def debit(self, amount= 0):
        if self.__balance > amount:
            self.__balance -= amount
            self.__transaction(amount, 'debited')
            return amount
        else:
            print("insufficient balance")

In [39]:
pehlaAccount = Account("harjeet", 5000)

harjeet welcome to SBI

           ========= SBI =========
           Account Holder : harjeet
           Account Balance: 5000

 =========SBI========
                we are sorry to here you go

In [40]:
pehlaAccount.credit(3000)

3000 was credited
current balance 8000
initial amount 11000

In [41]:
print(pehlaAccount)